html {
	font-size: 14px;
}

body {
	
}

nav {
   display: flex;
   padding-top: 10px;
   justify-content: space-evenly;
}

.nav-bar a {
   color: black;
   font-weight: bold;
   font-family: 'open sans';
   font-size: 1.3rem;
}

.nav-bar a:hover {
   color: blue;
   transition: all 200ms ease-out;
}

header {
   color: black;
   display: flex;
   justify-content: center;
   font-family: 'open sans';
   margin-bottom: 50px;
   font-size: 3rem;
}

figure {
   text-align: center;
}

img {
   width: 60%;
   height: auto;
   border: solid 2px black;
}

h1 {
   font-weight: bold;
   color: black;
}

h1 .copy {
   position: relative;
   font-size: 20px;
   bottom: 15px;
}
