html {
	font-size: 14px;
}

body {
	
}

nav {
   display: flex;
   padding-top: 10px;
   justify-content: space-around;
}

.nav-bar a {
   color: black;
   font-weight: bold;
   font-family: 'open sans';
   font-size: 1.3rem;
}

header {
   color: black;
   display: flex;
   padding-top: 20px;
   justify-content: center;
   font-family: 'open sans';
   font-size: 3rem;
}

h1 {
   font-weight: bold;
}

h1 .copy {
   font-size: 20px;
}

