html {
	font-size: 14px;
}

body {
	
}

header {
   color: black;
   display: flex;
   justify-content: center;
   font-family: 'open sans';
   font-size: 3rem;
}

h1 {
   font-weight: bold;
}

h1 .copy {
   font-size: 20px;
}

.flags {
   display: flex;
   margin-top: -60px;
   margin-bottom: 80px;
   justify-content: space-around;
}

.flags img {
   height: 70px;
   width: 70px;
}

.stadium {
   display: flex;
   justify-content: center;
}

.stadium img {
   height: 400px;
   width: 800px;
}